* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 90px;
}

section {
  margin-top: -8px;
}

.navbar {
  padding-top: 10px;
  background-color: #fff;
  height: 80px;
  box-shadow: 1px 2px 4px black;
  z-index: 100;
}

.navbar .nav-link {
  color: black !important;
}

.nav-item {
  position: relative;
  margin: 3px;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  opacity: 0;
  transition: all 0.5s ease-in;
}

.nav-link:hover::before {
  opacity: 1;
  width: 100%;
  transform: translateX(-50%);
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.navbar-toggler-icon {
  margin-bottom: 30px;
  color: black;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 0, 0, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-collapse {
  background-color: #fff;
  padding-top: 10px;
}

@media (max-width: 992px) {
  .navbar {
    height: auto;
  }

  .nav-link::before,
  .nav-link:hover::before {
    opacity: 0;
    width: 0;
  }

  .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
    margin: 10px 0;
  }

  .navbar-collapse {
    text-align: center;
    padding-top: 0;
  }
}

@media (max-width: 576px) {
  .navbar-toggler-icon {
    margin-bottom: 0;
  }

  .navbar {
    padding-top: 5px;
  }

  .nav-item {
    margin: 5px 0;
  }

  .navbar-collapse {
    padding-top: 5px;
  }
}

.carousel-inner {
  height: 540px;
  margin-top: 90px;
  position: relative;
  overflow: hidden;
}

.carousel-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

.carousel-item img {
  object-fit: cover !important;
  object-position: center;
  height: 100%;
  width: 100%;
  max-height: 540px;
}

.carousel-caption {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  box-sizing: border-box;
}

.carousel-caption h5 {
  font-size: 2.4rem;
}

.carousel-caption p {
  font-size: 1.7rem;
}

.carousel-indicators {
  bottom: 10px;
}

.carousel-indicators button {
  border-radius: 50%;
  height: 12px !important;
  width: 12px !important;
  background-color: white !important;
}

.img-container {
  position: relative;
  width: 100%;
  height: 210px;
}

.r-img {
  width: 60%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.r-img2 {
  width: 60%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -25%);
}

.btn1 {
  width: 110px;
  background-color: white;
  border-radius: 20px;
  border: 2px solid black;
  transition: all 0.4s ease-in;
}

.btn1:hover {
  background-color: #d18f31;
  color: white;
}

.hyphen-cross-hyphen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}

.hyphen-cross-hyphen .hyphen {
  width: 55px;
  height: 3px;
  background-color: #d18f31;
}

.hyphen-cross-hyphen .cross {
  font-size: 60px;
  color: #d18f31;
  transform: rotate(45deg);
  margin-bottom: 9px;
  margin-left: 10px;
}

.main-room {
  position: relative;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.main-room:hover {
  transform: scale3d(1.05, 1.05, 1.05);
}

.inner-room {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  width: 90%;
  height: 90%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  opacity: 0;
  transition: all 1s ease-in-out;
  box-sizing: border-box;
  border: 2px solid white;
  text-align: justify;
  gap: 10px;
  z-index: 2;
}

.main-rimg img {
  height: 350px !important;
}

.inner-room button {
  background: transparent;
  color: white;
  border: 2px solid white;
}

.main-room:hover .inner-room {
  opacity: 1;
}

.main-room img {
  transition: all 0.5s ease;
  position: relative;
  width: 100%;
}

.main-room::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 20;
    left:20; */
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.main-room:hover::before {
  opacity: 0.8;
  z-index: 1;
}
